In [31]:
import sqlite3
import os
import pandas as pd

In [ ]:
conn = sqlite3.connect("crypto_file.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS coins (
    coin_id INTEGER PRIMARY KEY,
    name TEXT,
    symbol TEXT
    )
    """)

cursor.execute("""
CREATE TABLE IF NOT EXISTS prices (
    price_id INTEGER PRIMARY KEY,
    coin_id INTEGER,
    price REAL,
    date TEXT,
    FOREIGN KEY (coin_id) REFERENCES coins (coin_id)
    )
    """)

conn.commit()

In [33]:
conn = sqlite3.connect('crypto_file.db')
cursor = conn.cursor()

coins_data = [
    (1, "Solana", "SOL"),
    (2, "Ethereum", "ETH"),
    (3, "Bitcoin", "BTC"),
    (4, "Ripple", "XRP")]

    # Insert 5 daily price records for each coin

# Insert coins data
cursor.executemany("INSERT OR IGNORE INTO coins VALUES (?, ?, ?)", coins_data)


prices_data = [
    # Solana prices
    (1, 1, 29123.50, "2025-08-10"),
    (2, 1, 1004.75, "2025-08-11"),
    (3, 1, 198.58, "2025-08-12"),
    (4, 1, 409.80, "2025-08-13"),
    (5, 1, 504.75, "2025-08-14"),
    
    # Ethereum prices
    (6, 2, 1834.75, "2025-08-10"),
    (7, 2, 3456.70, "2025-08-11"),
    (8, 2, 15.95, "2025-08-12"),
    (9, 2, 1745.00, "2025-08-13"),
    (10, 2, 884.75, "2025-08-14"),

    # Bitcoin prices
    (11, 3, 7833.11, "2025-08-10"),
    (12, 3, 8000.00, "2025-08-11"),
    (13, 3, 7500.00, "2025-08-12"),
    (14, 3, 7000.00, "2025-08-13"),
    (15, 3, 6800.00, "2025-08-14"),

    # Ripple prices
    (16, 4, 0.50, "2025-08-10"),
    (17, 4, 0.60, "2025-08-11"),
    (18, 4, 0.55, "2025-08-12"),
    (19, 4, 0.70, "2025-08-13"),
    (20, 4, 0.75, "2025-08-14")
]

cursor.executemany("INSERT OR IGNORE INTO prices VALUES (?, ?, ?, ?)", prices_data)
conn.commit()

In [34]:
# Import pandas for data manipulation
conn = sqlite3.connect('crypto_file.db')

# Join the coins and prices table
query = """
    SELECT c.coin_id, c.name, c.symbol, p.date, p.price
    FROM coins c
    JOIN prices p ON c.coin_id = p.coin_id
    ORDER BY c.coin_id, p.date
"""



# Read the query results into a pandas DataFrame
df = pd.read_sql_query(query, conn)

# View the DataFrame
print(df)

# Close the database connection
conn.close()

    coin_id      name symbol        date    price
0         1    Solana    SOL  2025-08-14   504.75
1         1    Solana    SOL  2025-08-14   504.75
2         2  Ethereum    ETH  2025-08-10  1834.75
3         2  Ethereum    ETH  2025-08-11  3456.70
4         2  Ethereum    ETH  2025-08-12    15.95
5         2  Ethereum    ETH  2025-08-13  1745.00
6         2  Ethereum    ETH  2025-08-14   884.75
7         2  Ethereum    ETH  2025-08-14   884.75
8         3   Bitcoin    BTC  2025-08-10  7833.11
9         3   Bitcoin    BTC  2025-08-11  8000.00
10        3   Bitcoin    BTC  2025-08-12  7500.00
11        3   Bitcoin    BTC  2025-08-13  7000.00
12        3   Bitcoin    BTC  2025-08-14  6800.00
13        3   Bitcoin    BTC  2025-08-14  6800.00
14        4    Ripple    XRP  2025-08-10     0.50
15        4    Ripple    XRP  2025-08-11     0.60
16        4    Ripple    XRP  2025-08-12     0.55
17        4    Ripple    XRP  2025-08-13     0.70
18        4    Ripple    XRP  2025-08-14     0.75
19        4    Ripple    XRP  2025-08-14     0.75

In [35]:
conn.close()
print("Database connection closed.")

Database connection closed.

###### Creating business question
- What is the average price for each coin?
- What is the highest price for each coin
- What is the lowest price for each coin

In [36]:

# Checking the Whole statistics of my table
print("\nBasic statistics:")
print(df['price'].describe())

print("\nAverage price:", df['price'].mean())
print("\nThe coin with the Highest price is", df["name"][df['price'].idxmax()])
print("with the Market price of:", df['price'].max())
print("\nThe coin with the Lowest price is", df["name"][df['price'].idxmin()])
print("with the Market price of:", df['price'].min())
print("\nTotal market price:", df['price'].sum())

Basic statistics:
count      20.000000
mean     2688.418000
std      3236.073482
min         0.500000
25%         0.750000
50%       884.750000
75%      6800.000000
max      8000.000000
Name: price, dtype: float64

Average price: 2688.418

The coin with the Highest price is Bitcoin
with the Market price of: 8000.0

The coin with the Lowest price is Ripple
with the Market price of: 0.5

Total market price: 53768.36